<h4 class="waitlist_thanks">
	Thank you so much for contact us our waitlist, we will reach out to you 
	via email to you soon!
</h4>
<%=link_to "Take me back to pidgin!", "/", id: "waitlist_return_home" %>