<!--Header Bar-->
<div class="main_header_bar">
	<!--pidgin logo-->
	<a id="a_home" href="#">pidgin</a>	
	<!--signup-->
	<%= link_to 'Login', '#', class: 'btn_login' %>
	<%= link_to 'Signup', 'signup', class: 'btn_signup' %>

</div>

<!--Customer Order/Client Signup Option-->
	<%= form_tag(restaurants_path, method: :get, class: 'form_search_restaurant') do %>
		<h1 class="search_restaurant_header"">Why Drive When You Can Fly?</h1>
		<div class="div search_restaurant_fields">
  			<%= text_field_tag :restaurant_query, params[:restaurant_query], :placeholder => 'Search food...now:', class: "txt_search_restaurants"%>
  			
  		</div>
	<% end %>		

	
<div class="main_footer_bar">
	<p>&copy; 2018 pidgin.com<p>
</div>