<!--Header Bar-->
<div class="main_header_bar">
	<div class="top_header_bar">
		<!--pidgin logo-->
		<a href="#" id="link_home">
			<div class="div logo_pidgin">

			</div>
		</a>
		<!--Loader, Login, Signup Buttons-->
		<div class="div header_section_btn">
			<%= link_to 'Loader', '#', class: 'btn_header' , id: "btn_header" %>
			<%= link_to 'Login', '#', class: 'btn_header', id: "btn_login" %>
			<%= link_to 'Signup', '#', class: 'btn_header', id: "btn_signup" %>
		</div>
	</div>
	
	<!-- White header bar for the divider -->
	<hr class="hr header_divide">

	<!-- This section is responsive layount for the image and register section-->
	<div class="row" id="header_subsection">
		<!-- Section A: Pizza Box Image -->
		<div class="col-sm-6" style="background-color: red;">
			<%= image_tag("img_pizza_box.png", class: "img img_pizza_box") %>
		</div>

		<!--Section B: Form registering region -->
		<div class="col-sm-6" style="background-color: blue;">
			
		</div>
	</div>





</div>
	


<!--
<div class="main_footer_bar">
	<p>&copy; 2018 pidgin.com<p>
</div>
-->
