<!--Restaurant Header Bar-->
<div class="main_restaurant_header">
	<!--Restaurant Name-->
	<span class="header_restaurant_name"><%=@restaurant.restaurant_name%></span>
</div>

<!--Menu Section --> 
<div class="div menu_section">
	<!--Menu Header -->
	<p class="menu_section_header">Menu</p>
	<!-- Loop through menu_items and retrieve menu sections -->
	
	
</div>

