<!--Restaurant Header Bar-->
<div class="main_restaurant_header">
	<!--Restaurant Name-->
	<span class="header_restaurant_name"><%=@restaurant.restaurant_name%></span>
</div>

<!--Menu Section --> 
<div class="div section_menu">
	<!--Menu Header -->
	<p class="p menu_header">Menu</p>
	<!-- Loop through menu_items and retrieve menu sections -->
	<%@menu_sections.each do |element|%>
		<p class="p_menu_section">
			<%=element.menu_section%>
		</p>
		<%@menu_items.each do |menu_item|%>
			<%if menu_item.menu_section == element.menu_section%>
				<div class="menu_item">
					<%=menu_item.menu_item_name%>
				</div>
			<%end%>
		<%end%>
	<%end%>
	
</div>

