<h1 style="text-align: center; color: #F2975a;">Welcome to Pidgin!</h1>
	<p style="font-family: 'pidgin-txt';">
    	You have made the awesome choice to #jointherevolution
    	with pidgindelivery.com! We are onto big things here at 
    	Pidgin, and we can't wait for you to be a part of it!
	</p>
	<p style="font-family: 'pidgin-txt';">
		We will keep you updated on how we're changing the world
		by contacting you at <%= @person.email %>, and most importantly, 
    	we will let you know when you'll get to be a part of it!
	</p>
<p>
	Sincerely, <br>
	Owners at Pidgin
	<br><br><br>
	&copy; Pidgin, 2018 All Rights Reserved.
</p>