<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Pidgin!</h1>
    <p>
      You have successfully joined our waitlist for delivery information,
      we're working hard to expand across the U.S, and we hope to get to you
      as fast as we can.
    </p>
    <p>
      To return to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing to #jointherevolution.</p>
  </body>
</html>
