<h1>Welcome to Pidgin</h1>
  <p>
    You have made the awesome choice to #jointherevolution
    with pidgindelivery.com, your email is: 
    <%= @person.email %>.<br>
  </p>
<p>We can't wait to start delivering to you soon</p>