/** SCSS for About page on home controller */
//Our header
.hd_about{
	margin-top: 10%;
	margin-left: 15%;
	font-family: "pidgin-body";
	font-weight: bold;
}
//Contact info subheader
.hd_about_contact{
	margin-left: 15%;
	font-family: "pidgin-txt";
	width: 65%;
}
//General Information
.ttl_sec_about{
	margin-top: 2%;
	margin-left: 15%;
	font-family: "pidgin-body";
}
//Gen Info Explanation
.ttl_sec_subinfo{
	margin-top: 2%;
	margin-left: 15%;
	font-family: "pidgin-txt";
	width: 65%;
}