//Contact Us with subtitle
.hd_contact{
	margin-top: 10%;
	margin-left: 15%;
	font-family: "pidgin-body";
	font-weight: bold;
}
.hd_contact_subttl{
	margin-left: 15%;
	width: 60%;
	font-family: "pidgin-txt";	
}

//Form for contacting
#contact_form{
	margin-left: 15%;
	width: 60%;
}
#contact_form label{
	font-size: 1.5rem;
	font-family: "pidgin-body";
}
