//FAQ Title
.ttl_faq{
	margin: 10rem 0% 0% 15%;
	font-family: "pidgin-body";
}
.subttl_faq{
	margin: 2rem 0 0 15%;
	width: 45%;
	font-family: "pidgin-txt";
}
.hd_question{
	margin: 2rem 0 0 15%;
	font-family: "pidgin-body";
}
.hd_response{
	width: 45%;
	margin: 2rem 0 0 15%;
	font-family: "pidgin-txt";
}