//Declare pidgin's logo font here
@font-face {
  font-family: "pidgin";
  src: font-url('Condition.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Reem Kufi
@font-face{
  font-family: "pidgin-body";
  src: font-url('ReemKufi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}