//Declare pidgin's logo font here
@font-face {
  font-family: "pidgin";
  src: url('Condition.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Body Font
@font-face {
  font-family: "pidgin-body";
  src: url('ElliotSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}