// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//We declare our pidgin colors here
$pidgin: #F2975a;
$pidgin_dark: #ef775b;
$theme_grey: #919191;

//Mixin linear-gradient here to call for main header section

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

html{
	font-size: 20px;
}
//This is the grand orange box that serves as the entire header for the viewer
.main_header_bar{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 25rem;
	@include linear-gradient($pidgin_dark, $pidgin)
		
}
//This bar is the top header par partitioned by the white bar.
.top_header_bar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	min-height: 3rem;
	width: 100%;
	display: flex;
	background: transparent;
	border-bottom: 1px solid white;
}
//The #a_home reroutes back to the home/index page
.top_header_bar #a_home{
	display: block;
	font-size: 2.75rem;
	margin: 1rem 0px 0.5rem 10rem;
	color: white;
	font-family: "pidgin";
	text-decoration: none;
}
//Header section for the "loader", "login", and "signup" buttons
.top_header_bar .header_section_btn{
	position: absolute;
	margin-left: 60%;
	min-width: 22rem;
	display: flex;
}
//Overall CSS for the three header buttons
.header_section_btn .btn_header{
	postion: relative;
	margin: .75rem 0px 0.75px 15%;
	min-height: 2rem;
	min-width: 4rem;
	border: 1px solid white;
	background: transparent;
	color: white;
	font-size: 20px;
	font-family: "pidgin-body";
	text-decoration: none;
	text-align: center;
	padding-top: 13.5px;
}
//Hover on buttons
.btn_header:hover{
	border: 3px solid white;
}
.ttl_choose_restaurant{
	color: white;
	text-shadow: 2px 2px 2px black;
	font-family: pidgin;
	text-align: center;
}
//Food image in main header
.main_header_bar .img_header_food{
	margin: 10rem 10rem 10rem 0rem;
	height: 20rem;
	width: 30rem;
	background-image: image-url("images/img_pizza_box.png");
}
/* This div lives in the large orange header for the register section*/
.form_register_pidgin{
	position: absolute;
	margin: 7.5rem 0rem 0rem 60%;
	top: 0;
	left: 0;
	right: 0;
	min-height: 5rem;
	max-width: 22rem;
	display: block;
}
// Slogan goes here ("Why drive...")
.form_register_pidgin .pidgin_signup_header{
	color: white;
	font-family: "pidgin-body";
	font-size: 2.75rem;
	text-align: right;
}
// Drone delivery ensures..
.form_register_pidgin .pidgin_signup_subheader{
	color: white;
	font-family: "reem-kufi";
	font-size: 1.65rem;
	text-align: right;
}
//Section for entering email (for email updates)
.form_register_pidgin .pidgin_signup_field{
	margin: 0.75rem auto;
	display: block;	
	font-size: 30px;
	font-family: 'pidgin';
}
//Email bar for updates on Pidgin
.txt_enter_email{
	margin: 0 auto;
	display: block;
	text-align: center;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 2px 2px 2px black;
	height: 40px;
	min-width: 100%;

}
//Email field
.txt_enter_email:hover{
	height: 2.5rem;
	width: 500px;
}
.btn_search_restaurants{
	border: none;
	background-color: $pidgin;
	box-shadow: 2px 2px 2px black;
	color: white;
	height: 40px;
}

.section_why_pidgin{
	margin: 30rem 0rem 0rem 5rem;
	font-size: 3rem;

}



.main_footer_bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: $pidgin;
	color: white;
}

