// Mobile - Everything and Anyting repeatable
@media (max-width: 575.98px) {
	.rep_header_bar{
		position: fixed;
		height: 10px;
	}
	//The #a_home reroutes back to the home/index page
	#id_row{	
		height: 100%;
	}
	//Home
	#id_row #link_home{
		position: absolute;
		margin-top: 5.5%;
		margin-left: 13%;
		display: block;
	}
	//Logo
	#link_home .logo_pidgin{
		width: 100%;
	}
	//Header section for the "loader", "login", and "signup" buttons
	#id_row .rep_section_btn{
		margin-top: 4%;
		margin-left: 50%;
		width: 42.5%;
	}
	#id_row .rep_section_btn .btn_header{
		width: 90%;
		font-size: .65rem;
	}
	//Footer section
	//Row for aligning vertical mobile elements
	.main_footer_bar #footer_row{
		overflow: auto;
	}
	
	.main_footer_bar #link_footer_pidgin{
		max-height: 5rem;
	}
	.main_footer_bar .txt_join_pidgin{
		width: 70%;
		text-align: center;
		font-size: 1rem;
		font-family: "pidgin-txt";
	}	
}