/** Mobile SCSS for about page*/
@media (max-width: 767.5px) {
	.hd_about{
		margin-top: 50%;
	}
	.hd_about_contact{
		width: 70%;
		font-size: 1rem;
	}
	.ttl_sec_about{
		width: 70%;
		font-size: 1rem;
	}
}