// Mobile
@media (max-width: 575.98px) {
	//FAQ Title
	.ttl_faq{
		margin-left: 10%;
		margin-top: 40%;
		font-size: 1.25rem;
	}
	.subttl_faq{
		width: 85%;	
		margin-left: 10%;
		font-size: 1rem;
		width: 70%;
	}
	.hd_question{
		margin-left: 10%;
		font-size: 1rem;
	}
	.hd_response{
		font-size: 1rem;
		margin-left: 10%;
		width: 85%;
	}
}