// Mobile
@media (max-width: 575.98px) {
	.main_header_bar{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	.top_header_bar #link_home{
		margin: 8% 0% 5% 7%;
		height: 30%;
		width: 28%;
	}
	//Header section for the "loader", "login", and "signup" buttons
	.top_header_bar .header_section_btn{
		margin: 5% 2% 5% 40%;
		width: 55%;
	}
	.header_section_btn .btn_header{
	 	width: 70%;
	}
	.header_divide{
		border: 1px solid white;

	}
	/** This is where the header subsection begins */
	#header_subsection{
		margin: 0 auto;
		height: 30%;
		width: 95%;
	}
	#header_subsection .col-sm-6{
		height: 50%;		
	}
	#header_subsection #img{
		margin: 0 auto;
		display: block;
	}
	#header_subsection .img_pizza_box{
		position: fixed;
		margin: 5% 0% 0% -95%;
		display: block;
		opacity: 0.2;
	}
	// Form to register for updates
	#header_subsection #form_pidgin_register{
		margin: 10% auto;
		width: 100%;
	}
	//Why drive when you can fly?
	#form_pidgin_register .pidgin_register_header{
		margin: 20% auto;
		width: 100%;
		font-size: 1.75rem;
		text-align: center;
	}
	//Why drive when you can fly?
	#form_pidgin_register .pidgin_register_subheader{
		margin: 5% auto;
		width: 100%;
		font-size: 1.15rem;
		text-align: center;
	}
	//Explanation section
	.why_pidgin{
		margin: 35rem auto;
		display: block;
		width: 90%;
	}
	.why_pidgin .header{
		margin: 0% auto;
		display: auto;
	}
	.why_pidgin .exp_why_pidgin{
		min-width: 100%;
		text-align: center;
		font-family: "pidgin-txt";
	}
	.order_process{
		margin-top: -150%;
		height: 60rem;
		display: block;
	}
	.order_process .subheader{
		font-family: "pidgin-txt";
	}
	.order_process #process_section{
		width: 65%;
	}
	//Footer bar
	.main_footer_bar{
		overflow: auto;
	}
	.main_footer_bar .txt_join_pidgin{
		width: 70%;
		text-align: center;
		font-size: 1rem;
		font-family: "pidgin-txt";
	}
	.img_drone{
		width: .00001%;
		visibility: hidden;
	}
	//Table
	#footer_row{
		height: 100%;
		
	}
	#footer_row #footer_pizza{
		height: 80px;
	}
}