//We declare our pidgin colors here
$pidgin: #F2975a;
$pidgin_dark: #ef775b;
$pidgin_light: #EF7B5B;

//Mixin linear-gradient here to call for main header section

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}


html{
	font-size: 20px;
}
body{
	width: 100%;
}
//Replicated Header Bar (from homepage)
.rep_header_bar{
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 5.35rem;
	@include linear-gradient($pidgin_dark, $pidgin_light);
}
//The #a_home reroutes back to the home/index page
.rep_header_bar #link_home{
	margin: 2% 0% 1% 15.7%;
	width: 6.75rem;
	height: 2rem;
	color: white;
	font-family: "pidgin";
	text-decoration: none;
}
//Header section for the "loader", "login", and "signup" buttons
.rep_header_bar .rep_section_btn{
	display: inline-block;
	margin: 2% 0% 1% 26.5%;
	height: 2.5rem;
	width: 32.5%;
	display: flex;

}
.rep_section_btn .btn_header{
	height: 2.5rem;
	width: 20rem;
	border: 1px solid white;
	background: transparent;
	color: white;
	font-size: 0.85rem;
	font-family: "pidgin-body";
	text-decoration: none;
	text-align: center;
	padding-top: 13.5px;
	line-height: 1rem;
}
.rep_section_btn .btn_header:hover{
	border: 3px solid white;
}
#link_txt{
	color: $pidgin;
	background: none;
	text-decoration: none;
}
/** This section is the footer bar*/
//Main footer bar
.main_footer_bar{
	height: 30rem;
	width: 100%;
	background-color: black;
	overflow: hidden;
}
//Join the revolution...
.main_footer_bar .txt_join_pidgin{
	font-size: 1.5rem;
	font-family: "pidgin-txt";
	margin: 2% 5% 0% 15%;
	color: white;
}
//White divisor line
.main_footer_bar .footer_divide{
	border: 1px solid white;
	margin: 1% 15% 0% 15%;
}

//Table for pidgin's information
#footer_row{
	background-color: none;
	margin: 2% 15% 0% 15%;
	height: 400px;
}
#footer_row #link_footer_pidgin{
	height: 100%;
}
#link_footer_pidgin .img_footer_logo{
	width: 100%;
}
#footer_section .ttl_section{
	color: white;
	text-align: center;
}
#footer_section .txt_info{
	color: white;
	font-family: "pidgin-txt";
	text-align: center;
	font-size: 1.15rem;
}
#footer_section .footer_link{
	color: white;
}
#footer_section .footer_link:hover{
	background: none;
}