// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pidgin: #f2975a;
$theme_grey: #919191;


/* Results Page Header */
.div_search_results_header{
	position: fixed;
  	top: 0;
  	left: 0;
 	right: 0;
  	margin: 0 auto;
  	height: 100px;
	background-color: $pidgin;
	text-align: center;
	font-family: "pidgin-body";
	color: white;
	font-size: 50px;
	box-shadow: 3px 3px 3px $theme_grey;
}
/*Search & Submit Fields*/
.txt_re_search_restaurants{
	box-shadow: 2px 2px 2px black;
	border: none;
	border-radius: 2px;
	height: 30px;
	width: 350px;
}
.btn_re_search_restaurants{
	box-shadow: 2px 2px 2px black;
	background-color: white;
	border: none;
	height: 30px;
}
/*DIV that contains all of the search results */
.div_search_restaurants_results{
	display: inline-block;
	margin-top: 100px;
	background-color: none;
	height: 600px;

}
/*Individual DIV as a result of search query*/
.search_restaurant_result{
	display: inline-block;
	height: 100px;
	width: 800px;
	margin: 20px 0px 20px 70px;
	background-color: $pidgin;
	border: 1px solid $theme_grey;
	box-shadow: 5px 5px 5px $theme_grey;
	border-radius: 3px;
	text-decoration: none;
	font-family: "pidgin-body";
}
.search_restaurant_result:hover{
	box-shadow: 1px 1px 1px $pidgin;
}
.result_restaurant_header{
	font-size: 25px;
	font-family: "pidgin-body";
	margin: 15px 0px 0px 25px;
	color: white;
	display: flex;
}

.res_name{
	margin-left: 5px;
	font-size: 25px;
}
.res_food_genre{
	margin-left: 10px;
	font-size: 25px;
	font-style: italic;
}
.result_restaurant_info{
	color: white;
	font-family: "pidgin-body";
	font-size: 20px;
	margin: 10px 0px 0px 30px;
}


